server/authentication/node_modules
server/authentication/package-lock.json
node_modules
server/authentication/keys
dump.rdb
downloads
server/database/go.sum
server/testMode/package-lock.json
server/testMode/node_modules
server/lectureMode/node_modules
server/lectureMode/package-lock.json
server/testMode/api/src/keys/keys.js
software_dev_tsa/.next
software_dev_tsa/.next/server
software_dev_tsa/.next/trace
software_dev_tsa/.next/cache/webpack/client-development/0.pack
software_dev_tsa/.next/cache/webpack/client-development/1.pack
software_dev_tsa/.next/cache/webpack/client-development/2.pack
software_dev_tsa/.next/cache/webpack/client-development/3.pack
software_dev_tsa/.next/cache/webpack/client-development/4.pack
software_dev_tsa/.next/cache/webpack/client-development/5.pack
software_dev_tsa/.next/cache/webpack/client-development/6.pack
software_dev_tsa/.next/cache/webpack/client-development/7.pack
software_dev_tsa/.next/cache/webpack/client-development/index.pack
software_dev_tsa/.next/cache/webpack/client-development/index.pack.old
software_dev_tsa/.next/cache/webpack/server-development/0.pack
software_dev_tsa/.next/cache/webpack/server-development/1.pack
software_dev_tsa/.next/cache/webpack/server-development/2.pack
software_dev_tsa/.next/cache/webpack/server-development/3.pack
software_dev_tsa/.next/cache/webpack/server-development/4.pack
software_dev_tsa/.next/cache/webpack/server-development/5.pack
software_dev_tsa/.next/cache/webpack/server-development/index.pack
software_dev_tsa/.next/cache/webpack/server-development/index.pack.old
software_dev_tsa/package-lock.json
software_dev_tsa/yarn.lock
server/lectureMode/build